doctype html
html
    head
        link(rel='stylesheet' href='/static/css/bootstrap.min.css')
        title #{req.app.config.site.name}
        meta(name='description' content=req.app.config.site.description)
    body
        include header
        main.container(style="padding-top: 60px;")
            each message in req.flash('success')
                .alert.alert-success #{message}
            each message in req.flash('error')
                .alert.alert-danger #{message}
            block content
        script(src='/static/js/bootstrap.bundle.js')